.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.paginationList {
  list-style: none;
  display: flex;
  gap: 5px;
}

.paginationItem {
  display: inline-block;
}

.paginationButton {
  background-color: #fff;
  border: 1px solid #ddd;
  color: #333;
  padding: 5px 10px;
  cursor: pointer;
}

.paginationButton.active {
  background-color: #007BFF;
  color: #fff;
  border: 1px solid #007BFF;
}
