.productCard {
    width: 16vmax;
    height: auto;
    margin: 2vmax;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    padding: .5vmax;
    color: #000;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .25);
    transition: .8s cubic-bezier(.2, .8, .2, 1);
}

.productCard > img {
    width: 100%;
    padding: 0px;
}

.productCard > p {
    font-family: 'Roboto';
    font-size: 1.2vmax;
    margin: 1vmax .5vmax;
    margin-bottom: 0;
}

.productCard > span {
    margin: .5vmax .5vmax;
    color: tomato;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1vmax;
}

.productCard > div {
    margin: 0.5vmax;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.productCard > div> span {
    margin: 0.5vmax;
    font: 300 .7vmax 'Roboto';
}

.productCard:hover {
    transform: scale(1.035, 1.035);
    box-shadow: 0 15px 30px rgba(0, 0, 0, .5);
}

/* .productCard:hover img {
    transform: translateY(-10px);
} */

@media screen and (max-width: 600px) {
    .productCard > p {
        font-size: 1.7vmax;
    }

    .productCard > div {
        margin: 0vmax;
        display: block;
    }

    .productCard > span {
        font-size: 1.5vmax;
    }

    .productCard > div > span {
        margin: 0 0.5vmax;
        font: 300 1vmax 'Roboto';
    }
}