.productDetails {
  width: 100vw;
  max-width: 100%;
  padding: 2vmax;
  display: flex;
  gap: 2vmax;
}

.productCarousel {
  width: 35%; /* Change width to 25% for the first column */
  padding: 10px;
}

.productCarousel img {
  max-width: 100%;
  height: auto;
}

.column_75 {
  width: 65%; /* Set width to 75% for the second column */
}

.productDetails > div {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1vmax;
  align-items: center;
  padding: 6vmax 4vmax 0 4vmax;
}

.productDetails > div:last-child {
  align-items: flex-start;
}

.details_name > h2 {
  color: rgb(14, 54, 54);
  font: 600 1.6vmax "Roboto";
}

.details_name > p {
  color: rgba(54, 54, 54, 0.582);
  font: 200 0.6vmax "Roboto";
}

.details_review {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.productCart {
  margin-bottom: 10px;
}

.minus,
.plus {
  width: 30px;
  height: 30px;
  background: #f2f2f2;
  border-radius: 4px;
  padding: 8px 5px 8px 5px;
  border: 1px solid #ddd;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
}

.input {
  height: 30px;
  width: 55px;
  text-align: center;
  font-size: 26px;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: inline-block;
  vertical-align: middle;
}

.redColor {
  font-weight: 600;
  color: rgba(239, 38, 38, 0.897);
}

.greenColor {
  font-weight: 600;
  color: rgba(118, 159, 14, 0.897);
}

/* ProductDescription.module.css */
.product {
  display: flex;
  margin: 20px;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.productImage {
  flex: 1;
  padding: 20px;
}

.productImage img {
  max-width: 100%;
}

.productDescription {
  flex: 0 1;
}

.productTitle {
  font-size: 24px;
  margin: 0;
}

.productPrice {
  font-size: 18px;
}

.productDetails {
  font-size: 14px;
  color: #555555;
  line-height: 1.5;
  margin-bottom: 20px;
}

.btn {
  padding: 10px 20px;
  background-color: #ff6f61;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.2s ease;
}

.btn:hover {
  background-color: #f04c40;
}

.review {
  padding: 2vmax 6vmax;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cardSliderContainer {
  width: 95%; /* Adjust the width as needed */
  margin: 0 auto;
}

.cardSlide {
  display: flex;
  justify-content: center;
  padding: 0 10px;
}