.homeHeading {
    text-align: center;
    font-family: Roboto;
    font-size: 1.4vmax;
    width: 20vmax;
    border-bottom: 1px solid #d2d0ee;
    padding: 1vmax;
    margin: 2vmax auto; 
}

.product {
    margin: 2vmax auto;
    width: 90vw;
    max-width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}