/* Card.module.css */
.card {
  --font-color: #323232;
  --bg-color: #e0e0e0;
  width: 400px;
  height: 200px;
  border-radius: 10px;
  box-shadow: -9px 9px 18px #bab4b4, 9px -9px 18px #ffffff;
  display: flex;
  transition: 0.4s;
  position: relative;
  padding: 5px 0;
  margin: 2vmax 0;
}

.card:first-child {
  margin-left: 2vmax;
}

.card:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 10px 2px #bab4b4;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #000;
  width: 130px;
}

.cardImg {
  width: 80px;
  height: 80px;
  object-fit: cover;
  background-color: #000;
  border-radius: 50%;
}

.cardDescrWrapper {
  max-width: 270px;
  height: 180px;
  padding: 15px;
}

.cardTitleContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  color: var(--font-color);
}

.cardTitle {
  width: 55px;
  border-bottom: 1px solid #d2d0ee;
  font-weight: 900;
  font-size: 16px;
}

.reviewName {
  color: #aaa5a5;
  font-weight: 900;
  font-size: 14px;
  font-style: italic;
}

.cardDescr {
  color: var(--font-color);
  margin: 5px 0;
  font-size: 14px;
  padding: 5px;
  height: 140px;
  text-align: center;
  overflow: hidden;
  overflow-y: auto;
}

.svg {
  width: 25px;
  height: 25px;
  transform: translateY(25%);
  fill: var(--font-color);
}

.cardLinks {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-self: flex-end;
}

.link {
  color: var(--font-color);
  font-weight: 600;
  font-size: 15px;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}
