@import "../../styles/config";

.local-row {
  width: 78%;
  margin-top: 30px;
}

.contributions-container {
  overflow: auto;
  display: grid;
  grid-template-columns: repeat(
    53,
    15px
  ); /* Adjust the number of columns and box size as needed */
  gap: 5.3px; /* Adjust the gap between boxes as needed */
}

.contribution-box {
  width: 15px; /* Adjust the box size as needed */
  height: 15px; /* Adjust the box size as needed */
  border: 1px solid #8c8c8e;
  cursor: pointer;
}
