.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.parent-loader {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(11, 14, 179, 0.3);
  inset: 0;
  z-index: 10;
}

.loader {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 5px solid rgba(11, 14, 179, 0.3);
  border-top-color: transparent;
  animation: loader-animation 1s linear infinite;
}

.card {
  border: 1px solid #000;
}

.btn {
  font-size: 1.2rem;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  width: 8rem;
}

.primaryBtn {
  background-color: rgb(11, 78, 179);
  color: antiquewhite;
}

@keyframes loader-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
