<div class="header">
  <div class="header__avatar">
    <a href="../../assets/img/pic-1.jpeg" class="header__avatar-photo">
      <img src="../../assets/img/pic-1.jpeg" alt="Avatar" />
      <i class="fas fa-expand"></i>
    </a>
    <div class="header__avatar-lamp">
      <div class="header__avatar-lamp-available"></div>
    </div>
  </div>
  <h5 class="header-name mb-10">Rishabh Agarwal</h5>
  <div class="header-sm-text">Front-end Developer</div>
  <a href="#" class="mobile-menu" (click)="handleButtonClick()">
    <img src="../../assets/img/close.svg" alt="Ham" class="icon" />
  </a>
</div>