<section class="section banner">
  <div class="container" [@bannerTrigger]>
    <div class="section-box-banner">
      <div class="content">
        <div>
          <h1>Hello, My name is</h1>
        </div>
        <div class="banner-title">
          <h2>Rishabh Agarwal</h2>
          <h3>I build full stack websites</h3>
        </div>
        <div class="banner-description">
          <p>
            As a full stack developer, I am driven by a relentless pursuit of
            excellence and a commitment to delivering impactful solutions that
            make a difference. I am excited to embark on new challenges,
            collaborate with like-minded individuals, and continue pushing the
            boundaries of what's possible in the world of web development.
          </p>
        </div>
      </div>
      <div class="div-btn-banner">
        <a
          (click)="sendAnalytics('click_send_mail', 'banner', 'email')"
          href="mailto:rishabhagarwal251@gmail.com"
          target="_blank"
          class="main-btn"
        >
          Get in Touch</a
        >
      </div>
    </div>
  </div>
</section>
