.work {
  background-color: lightgreen;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.work .arrow {
  position: absolute;
  height: 50px;
  cursor: pointer;
}

.work .arrow.left {
  left: 100px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

@media (max-width: 768px) {
  .work .arrow.left {
    left: 0px;
    background-color: black;
    opacity: 0.2;
  }
}

.work .arrow.right {
  right: 100px;
}

@media (max-width: 768px) {
  .work .arrow.right {
    right: 0px;
    background-color: black;
    opacity: 0.2;
  }
}

.work .slider {
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 0;
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

@media (max-width: 768px) {
  .work .slider {
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.work .slider .container {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.work .slider .container .itemContainer {
  width: 700px;
  height: 100%;
  background-color: #fff;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.work .slider .container .itemContainer .left {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.work .slider .container .itemContainer .left .leftContainer {
  width: 90%;
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #000;
}

.work .slider .container .itemContainer .left .leftContainer .imgContainer {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: blanchedalmond;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.work .slider .container .itemContainer .left .leftContainer .imgContainer img {
  width: 25px;
}

.work .slider .container .itemContainer .left .leftContainer h2 {
  font-size: 20px;
}

.work .slider .container .itemContainer .left .leftContainer p {
  font-size: 13px;
}

.work .slider .container .itemContainer .left .leftContainer span {
  font-size: 12px;
  font-weight: 500;
  text-decoration: underline;
  cursor: poin;
}

.work .slider .container .itemContainer .right {
  -webkit-box-flex: 8;
      -ms-flex: 8;
          flex: 8;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.work .slider .container .itemContainer .right img {
  width: 400px;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
}
/*# sourceMappingURL=Work.css.map */