<div class="centerted-container">
  <div class="task-manager-container">
    <div class="sidebar has-background-white">
      <h1 class="title has-text-primary">Lists</h1>
      <div class="list-menu">
        <div
          [ngClass]="{ 'is-active': activeItemIndex === i }"
          class="list-menu-items"
          *ngFor="let list of lists; let i = index"
        >
          <p class="task-title" (click)="getTaskAssociated(list, i)">
            {{ list?.title }}
          </p>
          <div class="list-action">
            <img
              class="task-action-icon"
              src="../../../assets/edit.svg"
              alt="Edit"
              (click)="onListUpdate(list)"
            />
            <img
              class="task-action-icon"
              src="../../../assets/delete.svg"
              alt="Delete"
              (click)="onListDelete(list)"
            />
          </div>
        </div>
      </div>
      <button
        class="button is-primary has-text-white"
        routerLink="/new-list-item"
      >
        + New List
      </button>
    </div>
    <div class="task-list-container has-background-light">
      <h1 class="title has-text-primary">Tasks</h1>

      <!-- Task elements -->
      <div class="tasks">
        <div
          [ngClass]="{ complete: task.completed }"
          class="task"
          *ngFor="let task of tasks"
        >
          <div class="task-actions">
            <p class="task-title" (click)="onTaskClick(task)">{{ task?.title }}</p>
            <div class="task-action" *ngIf="!task.completed">
              <img
                class="task-action-icon"
                src="../../../assets/edit.svg"
                alt="Edit"
                (click)="onTaskUpdate(task)"
              />
              <img
                class="task-action-icon"
                src="../../../assets/delete.svg"
                alt="Delete"
                (click)="onTaskDelete(task)"
              />
            </div>
          </div>
        </div>
      </div>

      <button class="circle-add-button is-primary" (click)="navigate()">
        <img src="../../../assets/plus-icon.svg" alt="Plus" />
      </button>
    </div>
  </div>
</div>
