@import "../../styles/config";

.local-row {
    width: 78%;
}

.card-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 78%;
}

.card {
    background: $card-color;
    box-shadow: $shadow-1;
    width: 340px;
    padding: 20px;
    margin-bottom: 30px;
}

@media screen and (max-width: 921px) {
    .row {
        display: flex;
        flex-direction: column;
    }
    
    .card-container {
        display: flex;
        width: 38%;
        flex-direction: column;
    }
    
    .card {
        width: 30rem;
        padding: 1.5rem;
        margin-bottom: 1.5rem;
    }
}

@media screen and (max-width: 600px) {
    .local-row {
        width: 100%;
    }

    .card {
        width: 20rem;
    }

    .card-container {
        display: flex;
        width: 100%;
        flex-direction: column;
    }
}