<div class="">
  <div class="">
    <div class="section-title section">
      <div class="section-title-text">
        <h4>Contact Information</h4>
      </div>
    </div>
  </div>
  <div class="card-container">
    <div class="">
      <div class="transition-large card">
        <div class="table p-15-15">
          <ul>
            <li>
              <h6>Country:</h6>
              <span>India</span>
            </li>
            <li>
              <h6>State:</h6>
              <span>Uttarakhand</span>
            </li>
            <li>
              <h6>Locality:</h6>
              <span>Kasturi Vatika</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="">
      <div class="transition-large card">
        <div class="table p-15-15">
          <ul>
            <li>
              <h6>Email:</h6>
              <span>rishabhagarwal2005@gmail.com</span>
            </li>
            <li>
              <h6>Instagram:</h6>
              <span>rishabh404agarwal</span>
            </li>
            <li>
              <h6>GitHub:</h6>
              <span>Rishabh123</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="">
      <div class="transition-large card">
        <div class="table p-15-15">
          <ul>
            <li>
              <h6>Contact:</h6>
              <span>+91 9198181886</span>
            </li>
            <li>
              <h6>Contact:</h6>
              <span>+91 9639803171</span>
            </li>
            <li>
              <h6>Contact:</h6>
              <span>+91 9639803171</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
