@import "../../styles/config";

.about {
  background: $info-bar-1-color;
  width: 290px;
  min-width: 290px;
  height: calc(100vh - 30px);
  position: relative;
  z-index: 3;
  box-shadow: $shadow-1;
  transition: $tr-lg;

  &__frame {
    padding: 0 15px;

    &-bar-header {
      width: 100%;
      height: 70px;
      justify-content: flex-start;
      align-items: center;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 10;
      display: none;

      &-btn {
        margin-left: auto;
        pointer-events: all;
        font-size: 1.4rem;
        padding: 3rem;
      }
    }
  }

  .header {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    padding: 30px;
    height: 235px;
    background: $info-bar-2-color-light;
    text-align: center;
    box-shadow: $shadow-2;

    &__avatar {
      width: 90px;
      height: 90px;
      margin: 0 auto;
      border-radius: 50%;
      position: relative;
      margin-bottom: 15px;

      &-photo {
        position: relative;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        outline: inherit;
        transition: $tr-lg;
        z-index: 0;

        & img {
          position: absolute;
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 50%;
          z-index: 0;
        }

        & i {
          background: $card-color-s-light;
          width: 30px;
          height: 30px;
          text-align: center;
          align-self: center;
          font-weight: 700;
          font-size: 11px;
          line-height: 30px;
          color: $text-color-1;
          border-radius: 50%;
          opacity: 0;
          z-index: 1;
          transition: $tr-md;
        }

        &:hover {
          opacity: 1;
          transition: $tr-sm;
          outline: inherit;

          & i {
            opacity: -7;

            &:hover {
              opacity: 1;
              transform: scale(1.07);
            }
          }
        }
      }

      &-lamp {
        z-index: 2;

        &:before {
          content: "";
          position: absolute;
          bottom: -0.1rem;
          right: 0.1rem;
          background: $text-color-1;
          height: 23px;
          width: 23px;
          border-radius: 50%;
          animation: puls 1s infinite;

          @keyframes puls {
            0% {
              transform: scale(0.6);
              opacity: 1;
            }
            100% {
              transform: scale(1);
              opacity: 0;
            }
          }
        }

        &-available {
          position: absolute;
          bottom: 0.3rem;
          right: 0.5rem;
          height: 1.5rem;
          width: 1.5rem;
          background: $main-color;
          border-radius: 50%;
          z-index: 0;
          transition: $tr-md;

          &:after {
            position: relative;
            content: "I am available for freelance work";
            width: 11.5rem;
            display: block;
            padding: 0.5rem 1rem;
            margin-left: 1rem;
            top: -1rem;
            left: 2rem;
            font-size: 0.8rem;
            font-weight: 200;
            color: $text-color-2;
            box-shadow: $shadow-2;
            background: $deep-color;
            opacity: 0;
            pointer-events: none;
            transform: translate(2rem);
            transition: $tr-md;
            text-align: left;
          }

          &:before {
            content: "";
            position: absolute;
            height: 0.5rem;
            width: 0.5rem;
            right: -1.5rem;
            top: 0.5rem;
            opacity: 0;
            background: $deep-color;
            pointer-events: none;
            transform: translateX(2rem) rotate(45deg);
            transition: $tr-md;
            z-index: 99;
          }

          &:hover {
            transform: scale(1);

            &:after {
              opacity: 1;
              transform: translateX(0);
            }

            &:before {
              opacity: 1;
              transform: translateX(0) rotate(45deg);
            }
          }
        }
      }
    }

    &-name {
      color: $text-color-1;
      transition: $tr-md;
      font-size: 1.1rem;
    }

    &-sm-text {
      font-size: 1rem;
    }
  }
}

.icon {
  height: 50px;
  width: 50px;
}

@media screen and (max-width: 921px) {
  .about {
    width: 18rem;

    .header {
      padding: .8rem;
      height: 15rem;
    }
  }
}

/* Add this CSS for mobile responsiveness */
@media only screen and (max-width: 600px) {
  .about {
    width: 100%;
  }

  .about__frame {
    flex-direction: column;
  }

  .mobile-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px; /* Adjust as needed based on your layout */
    left: 0;
    background-color: #333;
    width: 100%;
    padding: 10px;
    display: none;
  }

  .mobile-menu-content a {
    color: #fff;
    text-decoration: none;
    margin-bottom: 10px;
  }

  .about__frame-bar-header-btn {
    display: block;
  }

  .fa-bars {
    display: block;
  }

  .fa-ellipsis-v {
    display: none;
  }

  /* Show the menu content when the button is clicked */
  .mobile-menu {
    display: block;
  }
}
