<div class="about" *ngIf="!isMobile">
  <div class="about__frame">
    <div class="about__frame-bar-header">
      <a href="#" class="about__frame-bar-header-btn" (click)="toggleMobileMenu()">
        <img src="../../assets/img/ham.svg" alt="Ham">
      </a>
    </div>
    <div>
    </div>
    <div class="header">
      <div class="header__avatar">
        <img src="../../assets/img/ham.svg" alt="Ham" class="icon">
        <a href="../../assets/img/pic-1.jpeg" class="header__avatar-photo">
          <img src="../../assets/img/pic-1.jpeg" alt="Avatar" />
          <i class="fas fa-expand"></i>
        </a>
        <div class="header__avatar-lamp">
          <div class="header__avatar-lamp-available"></div>
        </div>
      </div>
      <h5 class="header-name mb-10">Rishabh Agarwal</h5>
      <div class="header-sm-text">Front-end Developer</div>
    </div>
    <app-header></app-header>
    <app-header-content></app-header-content>
  </div>
</div>
