.btn {
    font-size: 1rem;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    width: 8rem;
    margin-left: auto;
    margin-top: .4rem;
}

.primaryBtn {
    background-color: rgb(11, 78, 179);
    color: antiquewhite;
}