<nav
  [@animationMenu]
  class="navbar main-navbar on-top"
  [class.nav-shadow]="this.pageYPosition > 0"
>
  <div class="header-container">
    <div class="logo fade-enter-done" tabindex="-1">
      <a href="/" aria-label="home">
        <img src="../../../../assets/images/AvatarImage-1.png" width="45" alt="Logo">
      </a>
    </div>
    <ul ngbNav class="menu-ul">
      <li ngbNavItem (click)="sendAnalytics('click_about', 'menu', 'click')">
        <a (click)="scroll('about')">
          <span class="nav-number">01. </span>
          <span class="underline nav-text">About me</span>
        </a>
        <ng-template ngbNavContent>First Content</ng-template>
      </li>
      <li
        ngbNavItem
        (click)="sendAnalytics('click_experience', 'menu', 'click')"
      >
        <a (click)="scroll('experience')">
          <span class="nav-number">02. </span>
          <span class="underline nav-text">Experience</span>
        </a>
        <ng-template ngbNavContent>Second Content</ng-template>
      </li>
      <li ngbNavItem (click)="sendAnalytics('click_works', 'menu', 'click')">
        <a (click)="scroll('projects')">
          <span class="nav-number">03. </span>
          <span class="underline nav-text">Works</span>
        </a>
        <ng-template ngbNavContent>Third Content</ng-template>
      </li>
      <li ngbNavItem (click)="sendAnalytics('click_contact', 'menu', 'click')">
        <a (click)="scroll('contact')">
          <span class="nav-number">04. </span>
          <span class="underline nav-text">Contact</span>
        </a>
        <ng-template ngbNavContent>Fourth Content</ng-template>
      </li>
      <li ngbNavItem>
        <a (click)="downloadResume()" class="main-btn resume-btn"> Resume </a>
      </li>
    </ul>
    @if(responsiveMenuVisible) {
    <div class="menu-wrapper">
      <div
        class="hamburger-menu"
        [class.animate]="responsiveMenuVisible"
        (click)="responsiveMenuVisible = !responsiveMenuVisible"
      ></div>
    </div>
    <div
      class="menu-responsive"
      [style]="{ 'pointer-events': '!responsiveMenuVisible' ? 'none' : '' }"
    >
      <aside
        class="on-top"
        [class.aside-show]="responsiveMenuVisible"
        [class.nav-shadow]="this.pageYPosition > 0"
      >
        <nav>
          <ol>
            <li (click)="sendAnalytics('click_about', 'menu', 'click')">
              <a (click)="scroll('about')"> <span>01. </span> About me </a>
            </li>
            <li (click)="sendAnalytics('click_experience', 'menu', 'click')">
              <a (click)="scroll('experience')">
                <span>02. </span> Experience
              </a>
            </li>
            <li (click)="sendAnalytics('click_works', 'menu', 'click')">
              <a (click)="scroll('projects')"> <span>03. </span> Works </a>
            </li>
            <li (click)="sendAnalytics('click_contact', 'menu', 'click')">
              <a (click)="scroll('contact')"> <span>04. </span> Contact </a>
            </li>
            <li>
              <a (click)="downloadResume()" class="main-btn resume-btn">
                Resume
              </a>
            </li>
          </ol>
        </nav>
      </aside>
    </div>
    }
  </div>
</nav>
