.form-post {
  border: 1px solid black;
  left: 17%;
  width: 1200px;
  top: 10%;
  padding: 20px;
}

.input {
  width: 100%;
  padding: 10px 0;
  border: none;
  outline: none;
  border-bottom: 1px solid #c9c4c4;
  margin-bottom: 20px;
}

/* Hide the default file input text */
input[type="file"] {
  display: none;
}

/* Style the custom file input container */
.custom-file-input {
  position: relative;
  display: inline-block;
  background-color: #fff; /* Add your desired background color */
  padding: 10px 15px;
  margin: 15px 0;
  border: 1px solid #c9c4c4;
  border-radius: 5px;
  width: 1170px;
  cursor: pointer;
}

/* Style the label's hover state */
.custom-file-input:hover {
  background-color: #fef9f9; /* Change background color on hover if desired */
}

.upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.upload > img {
  width: 100%;
  height: 300px;
}

.ql-container.ql-snow {
  height: 250px;
}
.ql-editor {
  height: 300px;
  overflow-y: scroll;
}

.image {
  max-height: 450px;
  overflow: hidden;
  display: flex;
}

div.post-page div.image img {
  width: 100%;
  object-fit: cover;
  object-position: center center;
}

div.post-page h1 {
  text-align: center;
  margin: 10px 0 5px;
}

div.post-page a {
  color: inherit;
  text-decoration: underline;
}

.time {
  font-size: .7rem;
  text-align: center;
  display: block;
  color: #aaa;
}

.author {
  text-align: center;
  margin-bottom: 20px;
  font-size: 0.8rem;
  font-weight: bold;
  color: #888080;
}

.content p{
  line-height: 1.6rem;
}