<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6 local-row">
      <div class="section-title section">
        <div class="section-title-text">
          <h4>Work History</h4>
        </div>
      </div>
      <div class="timeline">
        <ng-container *ngFor="let experience of experiences">
          <div class="timeline__item">
            <div class="timeline__item-mark-light"></div>
            <div class="timeline__item-mark"></div>
  
            <div class="timeline__item-content transition-large">
              <div class="timeline__item-content__card-header">
                <div class="timeline__item-content__card-header-left">
                  <h5>{{ experience?.company }}</h5>
                  <div class="sub-title mb-15">{{ experience?.location }}</div>
                </div>
                <div class="timeline__item-content__card-header-right">
                  <span class="timeline__item-content__card-header-right__date">{{
                    experience?.time
                  }}</span>
                </div>
              </div>
              <p class="info">
                {{ experience?.info }}
              </p>
              <a href="#" class="link link__color-link link__w-chevron"
                >Diploma</a
              >
            </div>
          </div>
        </ng-container>
      </div>
    </div>
    <div class="col-lg-6 local-row">
      <div class="section-title section">
        <div class="section-title-text">
          <h4>Education</h4>
        </div>
      </div>
      <div class="timeline">
        <ng-container *ngFor="let education of educations">
          <div class="timeline__item">
            <div class="timeline__item-mark-light"></div>
            <div class="timeline__item-mark"></div>
  
            <div class="timeline__item-content transition-large">
              <div class="timeline__item-content__card-header">
                <div class="timeline__item-content__card-header-left">
                  <h5>{{ education?.college }}</h5>
                  <div class="sub-title mb-15">{{ education?.location }}</div>
                </div>
                <div class="timeline__item-content__card-header-right">
                  <span class="timeline__item-content__card-header-right__date">{{
                    education?.time
                  }}</span>
                </div>
              </div>
              <p class="info">
                {{ education?.info }}
              </p>
              <a href="#" class="link link__color-link link__w-chevron"
                >Diploma</a
              >
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
