<div class="row">
  <div class="col-lg-6">
    <div class="section-title section">
      <div class="section-title-text">
        <h4>Education</h4>
      </div>
    </div>
    <div class="timeline">
      <div class="timeline__item">
        <div class="timeline__item-mark-light"></div>
        <div class="timeline__item-mark"></div>

        <div class="timeline__item-content transition-large">
          <div class="timeline__item-content__card-header">
            <div class="timeline__item-content__card-header-left">
              <h5>Title of section 1</h5>
              <div class="sub-title mb-15">Template Author</div>
            </div>
            <div class="timeline__item-content__card-header-right">
              <span class="timeline__item-content__card-header-right__date"
                >Rishabh 2018 - may 2022</span
              >
            </div>
          </div>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id
            voluptatibus laboriosam quod, amet labore quae facilis quia quidem
            explicabo eaque! Ea minima nihil voluptas ducimus, illum officia
            eos fugit eveniet.
          </p>
          <a href="#" class="link link__color-link link__w-chevron"
            >Diploma</a
          >
        </div>
      </div>
      <div class="timeline__item">
        <div class="timeline__item-mark-light"></div>
        <div class="timeline__item-mark"></div>

        <div class="timeline__item-content transition-large">
          <div class="timeline__item-content__card-header">
            <div class="timeline__item-content__card-header-left">
              <h5>Title of section 1</h5>
              <div class="sub-title mb-15">Template Author</div>
            </div>
            <div class="timeline__item-content__card-header-right">
              <span class="timeline__item-content__card-header-right__date"
                >Rishabh 2018 - may 2022</span
              >
            </div>
          </div>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id
            voluptatibus laboriosam quod, amet labore quae facilis quia quidem
            explicabo eaque! Ea minima nihil voluptas ducimus, illum officia
            eos fugit eveniet.
          </p>
          <a href="#" class="link link__color-link link__w-chevron"
            >Diploma</a
          >
        </div>
      </div>
      <div class="timeline__item">
        <div class="timeline__item-mark-light"></div>
        <div class="timeline__item-mark"></div>

        <div class="timeline__item-content transition-large">
          <div class="timeline__item-content__card-header">
            <div class="timeline__item-content__card-header-left">
              <h5>Title of section 1</h5>
              <div class="sub-title mb-15">Template Author</div>
            </div>
            <div class="timeline__item-content__card-header-right">
              <span class="timeline__item-content__card-header-right__date"
                >Rishabh 2018 - may 2022</span
              >
            </div>
          </div>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id
            voluptatibus laboriosam quod, amet labore quae facilis quia quidem
            explicabo eaque! Ea minima nihil voluptas ducimus, illum officia
            eos fugit eveniet.
          </p>
          <a href="#" class="link link__color-link link__w-chevron"
            >Diploma</a
          >
        </div>
      </div>
      <div class="timeline__item">
        <div class="timeline__item-mark-light"></div>
        <div class="timeline__item-mark"></div>

        <div class="timeline__item-content transition-large">
          <div class="timeline__item-content__card-header">
            <div class="timeline__item-content__card-header-left">
              <h5>Title of section 1</h5>
              <div class="sub-title mb-15">Template Author</div>
            </div>
            <div class="timeline__item-content__card-header-right">
              <span class="timeline__item-content__card-header-right__date"
                >Rishabh 2018 - may 2022</span
              >
            </div>
          </div>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id
            voluptatibus laboriosam quod, amet labore quae facilis quia quidem
            explicabo eaque! Ea minima nihil voluptas ducimus, illum officia
            eos fugit eveniet.
          </p>
          <a href="#" class="link link__color-link link__w-chevron"
            >Diploma</a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="section-title section">
      <div class="section-title-text">
        <h4>Work History</h4>
      </div>
    </div>
    <div class="timeline">
      <div class="timeline__item">
        <div class="timeline__item-mark-light"></div>
        <div class="timeline__item-mark"></div>

        <div class="timeline__item-content transition-large">
          <div class="timeline__item-content__card-header">
            <div class="timeline__item-content__card-header-left">
              <h5>Title of section 1</h5>
              <div class="sub-title mb-15">Template Author</div>
            </div>
            <div class="timeline__item-content__card-header-right">
              <span class="timeline__item-content__card-header-right__date"
                >Rishabh 2018 - may 2022</span
              >
            </div>
          </div>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id
            voluptatibus laboriosam quod, amet labore quae facilis quia quidem
            explicabo eaque! Ea minima nihil voluptas ducimus, illum officia
            eos fugit eveniet.
          </p>
          <a href="#" class="link link__color-link link__w-chevron"
            >Diploma</a
          >
        </div>
      </div>
      <div class="timeline__item">
        <div class="timeline__item-mark-light"></div>
        <div class="timeline__item-mark"></div>

        <div class="timeline__item-content transition-large">
          <div class="timeline__item-content__card-header">
            <div class="timeline__item-content__card-header-left">
              <h5>Title of section 1</h5>
              <div class="sub-title mb-15">Template Author</div>
            </div>
            <div class="timeline__item-content__card-header-right">
              <span class="timeline__item-content__card-header-right__date"
                >Rishabh 2018 - may 2022</span
              >
            </div>
          </div>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id
            voluptatibus laboriosam quod, amet labore quae facilis quia quidem
            explicabo eaque! Ea minima nihil voluptas ducimus, illum officia
            eos fugit eveniet.
          </p>
          <a href="#" class="link link__color-link link__w-chevron"
            >Diploma</a
          >
        </div>
      </div>
      <div class="timeline__item">
        <div class="timeline__item-mark-light"></div>
        <div class="timeline__item-mark"></div>

        <div class="timeline__item-content transition-large">
          <div class="timeline__item-content__card-header">
            <div class="timeline__item-content__card-header-left">
              <h5>Title of section 1</h5>
              <div class="sub-title mb-15">Template Author</div>
            </div>
            <div class="timeline__item-content__card-header-right">
              <span class="timeline__item-content__card-header-right__date"
                >Rishabh 2018 - may 2022</span
              >
            </div>
          </div>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id
            voluptatibus laboriosam quod, amet labore quae facilis quia quidem
            explicabo eaque! Ea minima nihil voluptas ducimus, illum officia
            eos fugit eveniet.
          </p>
          <a href="#" class="link link__color-link link__w-chevron"
            >Diploma</a
          >
        </div>
      </div>
      <div class="timeline__item">
        <div class="timeline__item-mark-light"></div>
        <div class="timeline__item-mark"></div>

        <div class="timeline__item-content transition-large">
          <div class="timeline__item-content__card-header">
            <div class="timeline__item-content__card-header-left">
              <h5>Title of section 1</h5>
              <div class="sub-title mb-15">Template Author</div>
            </div>
            <div class="timeline__item-content__card-header-right">
              <span class="timeline__item-content__card-header-right__date"
                >Rishabh 2018 - may 2022</span
              >
            </div>
          </div>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id
            voluptatibus laboriosam quod, amet labore quae facilis quia quidem
            explicabo eaque! Ea minima nihil voluptas ducimus, illum officia
            eos fugit eveniet.
          </p>
          <a href="#" class="link link__color-link link__w-chevron"
            >Diploma</a
          >
        </div>
      </div>
    </div>
</div>
