@import "../../styles/config";

.local-row {
  width: 76%;
}

.timeline {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 15px;
    right: 5px;
    height: calc(100% - 10px);
    width: 5px;
    background: $deep-color;
  }

  &__item {
    position: relative;
    width: 100%;
    max-height: 350px;

    &-mark-light {
      background: $text-color-1;
      position: absolute;
      top: 4px;
      right: 4px;
      width: 23px;
      opacity: 0;
      border-radius: 50%;
      transition: $tr-md;
    }

    &-mark {
      position: absolute;
      top: 15px;
      right: 0;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: solid 3px $main-color;
      background: $content-color;
      box-shadow: $shadow-1;
    }

    &:hover {
      &-mark-light {
        animation: puls 1s infinite;
      }
    }

    &-content {
      position: relative;
      margin-right: 40px;
      margin-left: 15px;
      background: $card-color;
      padding: 30px;
      margin-bottom: 30px;
      box-shadow: $shadow-1;

      &:after {
        height: 1rem;
        width: 1rem;
        background-color: rgba(43, 43, 53, 0.98);
        transform: rotate(-135deg);
        content: "";
        position: absolute;
        top: 1.1rem;
        right: -0.5rem;
        border-top-right-radius: 50%;
      }

      &__card-header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        &-left {
          color: $text-color-1;
        }

        &-right {
          margin-bottom: 1.5rem;

          &__date {
            color: $text-color-3;
            margin-left: auto;
            background: $info-bar-1-color;
            padding: 0.5rem 1.5rem;
            border-radius: 1.5rem;
            box-shadow: $shadow-1;
            font-size: 1rem;
          }
        }
      }
    }

    & p {
      font-size: 1rem;
    }
  }
}

@media screen and (min-width: 992px) {
  .col-lg-6 {
    flex: 0 0 38%;
    max-width: 38%;
  }
}

@media screen and (max-width: 921px) {
  .row {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .timeline {
    position: relative;

    &__item {
      width: 40%;
      &-content {
        margin-right: 3rem;
        padding: 2rem;

        & p {
          font-size: 0.7rem;
        }

        &__card-header {
          &-left {
            & h4 {
              font-size: 0.8rem;
            }
          }

          &-right {
            margin-top: 0.7rem;

            &__date {
              padding: 0.5rem 1rem;
              font-size: 0.8rem;
            }
          }
        }
      }

      & p {
        font-size: .8rem;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .local-row {
    width: 100%;
  }

  .timeline__item {
    width: 100%;
  }

  .timeline__item-content {
    height: 350px;
    font-size: .5rem;
    overflow-y: auto;
  }

  .sub-title, .timeline__item-content__card-header-right__date {
    font-size: .5rem;
  }
}
