<div class="container-fluid">
  <div class="row p-60-0 p-lg-30 p-md-15-0">
    <div class="col-lg-12">
      <div class="art-a banner">
        <div class="banner__back"></div>
        <div class="banner__dec"></div>
        <div class="banner__overlay">
          <div class="banner__overlay-title">
            <h2 class="mb-15">Frontend Developer <br />MEAN & MERN Stack</h2>
            <div class="lg-text banner__overlay-title-code mb-25">
              &lt;<i>Code</i>&gt; I am <app-typewriter></app-typewriter>&lt;<i>Code</i>&gt;
            </div>
            <div class="buttons-frame">
                <a href="#" class="btn btn-md"> <span>Explore now</span> </a>
                <a href="#" class="link link__white-link link__w-chevron"> <span>Hire me</span> </a>
            </div>
          </div>
          <img src="" alt="" class="banner__overlay-photo">
        </div>
      </div>
    </div>
  </div>
</div>
