@import "../../styles/config";

.row {
    display: flex;
    gap: 23rem;
    width: 1000px;
}

.section {
    &__right {
        padding-bottom: 3rem;
        
        &-filter {
            display: flex;
            justify-content: space-between;
            margin-top: 1.2rem;
        }
    }
}

@media screen and (max-width: 921px) {
    .row {
        width: 40%;
        gap: 4rem;
    }
}