<section class="section contact" id="contact">
  <div class="container">
    <div class="section-box">
      <div class="mb-4" data-aos="fade-up" data-aos-duration="1000">
        <h3 class="contact-pre-title big-subtitle">04. What's Next</h3>
        <h4 class="e-font contact-title big-title">Get In Touch</h4>
      </div>
      <p data-aos="fade-up" data-aos-duration="1000">
        Ready to reach out? Click the button below to get in touch with us. We're excited to hear from you!
      </p>
      <div class="mt-5">
        <a
          href="mailto:rishabhagarwal251@gm"
          (click)="sendAnalytics('click_send_email', 'contact', 'email')"
          target="_blank"
          data-aos="fade-up"
          data-aos-duration="1000"
          class="main-btn"
        >
          Say Hello!
        </a>
      </div>
    </div>
  </div>
</section>
