.card-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.todo-list-card {
  background-color: #fff;
  border-radius: 0;
  width: 305px;
  border: 1px solid rgb(236, 228, 228);
  padding: 10px;
}

.todo-list-card .card-divider {
  border-bottom: 2px solid #cacaca;
  background: inherit;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.todo-list-card .card-divider h3 {
  margin-bottom: 0;
}

.todo-list-card .card-divider {
  position: inherit;
}

.todo-list-card ul {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.todo-list-card ul li {
  border: 1px solid #dbd1d1;
  margin: 10px 0;
  padding: 10px;
}

.todo-list-card ul input[type="checkbox"] {
  position: absolute;
  visibility: hidden;
  left: -99999px;
}

.todo-list-card ul input[type="checkbox"] ~ label {
  position: relative;
  margin-left: 2rem;
}

.todo-list-card ul input[type="checkbox"] ~ label::after {
  background: #fefefe;
  border: 1px solid #e6e6e6;
  content: "";
  display: block;
  height: 20px;
  left: -2rem;
  width: 20px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-80%);
  -ms-transform: translateY(-80%);
  transform: translateY(-80%);
}

.todo-list-card ul input[type="checkbox"]:checked ~ label:after {
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 18px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f00c";
  color: #1779ba;
  border: 1px solid #1779ba;
}

.center-li {
  display: flex;
  gap: 20px;
  align-items: center;
}

.border-green:hover {
  border: 1px solid green;
}

.border-red:hover {
  border: 1px solid red;
}

.date-day {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-weight: bold;
}
