@import "../../styles/config";

.service {
    display: inline-flex;
    justify-content: flex-start;
    gap: 4rem;
    flex-wrap: wrap;

    &__box {
        max-width: 30%;
        max-height: 25rem;
        margin-bottom: 3rem;
        position: relative;
        z-index: 1;
        overflow: hidden;
        box-shadow: $shadow-1;
        background: $card-color;

        &-content {
            padding: 2rem;

            &-title {
                font-size: 1.5rem;
            }

            &-description {
                font-size: 1rem;
            }
        }
    }
}

.row {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 921px) {
    .row {
        display: flex;
        flex-direction: column;
    }
    .service {
        gap: 2rem;
        width: 40%;
    
        &__box {
            max-width: 100%;
            margin-bottom: 1.5rem;
    
            &-content {
                padding: 1.5rem;
    
                &-title {
                    font-size: 1.2rem;
                }
    
                &-description {
                    font-size: .8rem;
                }
            }
        }
    }
}
