<div class="container-fluid">
  <div class="row">
    <div class="section-title">
      <div class="section-title-text">
        <h4>My Services</h4>
      </div>
    </div>
    <div class="service">
      <ng-container *ngFor="let service of services">
        <div class="transition-large service__box">
          <div class="service__box-content">
            <h5 class="mb-15 service__box-content-title">{{ service.tech }}</h5>
            <div class="mb-15 service__box-content-description">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque,
              sint. Beatae nostrum sed voluptates magnam accusamus totam qui
              porro expedita odio quo, nam assumenda, officia quae voluptatem
              velit dolorum non?
            </div>
            <div class="button-frame">
              <a href="#" class="link link__color-link link__w-chevron"
                >Order Now</a
              >
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
