@import "../../styles/config";

.local-row {
    width: 78%;
}

.service {
    display: flex;
    flex-wrap: wrap;

    &__box {
        max-width: 350px;
        max-height: 300px;
        height: 300px;
        margin-bottom: 30px;
        position: relative;
        z-index: 1;
        overflow: hidden;
        box-shadow: $shadow-1;
        background: $card-color;

        &-content {
            padding: 30px;

            &-title {
                font-size: 15px;
                color: $text-color-1;
            }

            &-description {
                font-size: 12px;
            }
        }
    }
}

@media screen and (max-width: 921px) {
    .row {
        display: flex;
        flex-direction: column;
    }
    .service {
        gap: 2rem;
        width: 40%;
    
        &__box {
            max-width: 100%;
            margin-bottom: 1.5rem;
    
            &-content {
                padding: 1.5rem;
    
                &-title {
                    font-size: 1.2rem;
                }
    
                &-description {
                    font-size: .8rem;
                }
            }
        }
    }
}
