<div class="content">
    <div class="content__curtain"></div>
    <div class="top-bg">
        <div class="top-bg__overlay"></div>
    </div>

    <div class="content__transition-fade">
        <div class="scroll-frame" id="scrollbar2" appScrollbar>
            <app-content-header></app-content-header>
            <app-github-contribution></app-github-contribution>
            <app-counters></app-counters>
            <app-my-services></app-my-services>
            <app-work></app-work>
            <app-experience></app-experience>
            <app-contact></app-contact>
            <app-contact-form></app-contact-form>
        </div>
    </div>
</div>
