@import "../../styles/config";

.counter__container {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    position: relative;
    color: $text-color-1;

    &-box {
        min-width: 60px;
        &-counter {
            color: $main-color;
            font-weight: 600;
            font-family: $pf;
            font-size: 1.5rem;
        }

        &-plus {
            color: $main-color;
            margin-left: .1rem;
            font-weight: 600;
            font-family: $pf;
            font-size: 1.5rem;
        }
    }
}

@media screen and (max-width: 921px) {
    .row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: .1rem;
        width: 40%;
    }
    .counter__container {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
    
        &-box {
            &-counter {
                font-size: 1rem;
            }
    
            &-plus {
                font-size: 1rem;
            }
        }
    }
}