<div class="container-fluid">
  <div class="row p-30-0">
    <div class="col-md-3 col-6">
      <div class="counter__container">
        <div class="counter__container-box">
          <span class="counter__container-box-counter">
            <app-count [maxCount]="4"></app-count>
          </span>
          <span class="counter__container-box-plus">+</span>
        </div>
        <h6>Years Experience</h6>
      </div>
    </div>
    <div class="col-md-3 col-6">
      <div class="counter__container">
        <div class="counter__container-box">
          <span class="counter__container-box-counter">
            <app-count [maxCount]="10"></app-count>
          </span>
          <span class="counter__container-box-plus">+</span>
        </div>
        <h6>Completed Projects</h6>
      </div>
    </div>
    <div class="col-md-3 col-6">
      <div class="counter__container">
        <div class="counter__container-box">
          <span class="counter__container-box-counter">
            <app-count [maxCount]="60"></app-count>
          </span>
          <span class="counter__container-box-plus">+</span>
        </div>
        <h6>Hours of Work</h6>
      </div>
    </div>
  </div>
</div>
