body {
    height: 100vh;
    scroll-behavior: smooth;
    overflow-y: auto;
}

h1 {
    text-align: center;
}

.border {
    border: 1px solid black;
    margin-bottom: 10px;
}

.div {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

input {
    margin: 0 10px 10px 10px;
}