body {
    padding-top: 40px;
    height: 100vh;
    scroll-behavior: smooth;
    overflow-y: auto;
}

h1 {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: #f2f2f2;;
}

.content {
    height: 2000px; /* Just for demonstration */
    padding: 20px;
    font-size: 18px;
    line-height: 1.5;
}

h4 {
    margin: 5px !important;
}

.border {
    border: 1px solid black;
    margin-bottom: 10px;
}

.div {
    display: flex;
    padding-left: 10px;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

input {
    margin: 0 10px 10px 10px;
}

button {
    cursor: pointer;
}

ul {
    text-decoration: none;
} 

li {
    text-decoration: none;
}

.hover:hover {
    color: red;
}

.button:active {
    background-color: green;
}

.input:focus {
    border-color: green;
}

.pseudo {
    height: 200px;
    overflow-y: auto;
}
